.container
{
    width: 70%;
    margin-top: 8em;
}

.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .controls{
    list-style: none;
    padding: 12px 15px;
  }
  
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #ccc;
  }
  .controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #ccc;
  }
  .controls .row select{
    color: #333;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
  }

  .controls, .controls .exchange{
    color: #adadad;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
  }